@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html {
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.the-big-question {
  display: flex;
}
.question {
  color: #F4EBD3;
  background-color: #66777F;
  border: #F4EBD3 solid 0.3vw;
  border-left: none;
  font-size: 4vw;
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.clock {
  position: absolute;
  padding: 2% 0 2% 5%;
  width: 15%;
  text-align: left;
  color: white;
  font-size: 3vw;
  font-weight: bold;
  background-color: #db687c;
}

.weather {
  font-size: 2vw;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.bottom-img {
  height: 40%;
  width: auto;
  position: absolute;
  bottom: 0px;
}

.bottom-img > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.board {
  padding-top: 10%;
}

.bars {
  width: 50%;
  border: none;
  height: 5px;
  color: #2D2D2D;
  background-color: #2D2D2D;
}

.title {
  letter-spacing: 10px;
  font-size: 3vw;
  font-weight: bold;
  color: #db687c;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.category {
  flex-grow: 1;
}

.links {
  display: flex;
  flex-direction: column;
}
